.btn-custom {
   background-color: #333;
   color: white;
   border: none;
   padding: 0.5rem 1rem;
   border-radius: 5px;
   text-decoration: none;
   text-align: center;
   display: inline-block;
   cursor: pointer;
   margin-bottom: 20px;
   transition: transform 0.3s, box-shadow 0.3s;
   margin-bottom: 50px; /* 버튼의 하단 여백 */
}

.btn-custom:hover {
   background-color: #555; /* 호버 시 색상 변경 */
   transform: scale(1.1); /* 호버 시 버튼이 10% 커지도록 설정 */
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* 호버 시 그림자 효과 추가로 튀어나와 보이게 함 */
}

/* hr 태그에 마진 추가 */
hr {
   margin-top: 50px;
   margin-bottom: 100px;
   border: none;
   border-top: 2px solid #ddd;
}

/* 햄버거 버튼 css */
.header{
	height:90px;
	border-bottom:1px solid rgb(222, 226, 230);
}

/* 헤더 아이콘 스타일 */
header .bi-heart-fill{
  font-size: 25px;
  line-height: 25px;
  transition-duration: 0.5s;
}

.bi-person-fill{
  font-size: 30px;
  line-height: 30px;
  transition-duration: 0.5s;
}

header .bi-person-fill:hover, header .bi-heart-fill:hover{
	color:#444;
}

.ham-con .bi-search{
  width:50px;
  font-size: 25px;
  line-height: 35px;
  text-align:center;
  color: #777;
  background-color: whitesmoke;
  padding: 5px;
  border:1px solid #444;
  border-left:0px;
  
}

.ham-con .bi-caret-up-fill, .ham-con .bi-caret-down-fill{
	color:#444;
}

.navbar_name {
  	cursor: pointer;
    margin: 10px 20px 0 auto;
}
.non-active{
  	cursor: pointer;
    margin: 0px 20px 0 auto;
}
.navbar_home {
  	cursor: pointer;
    margin-right: 20px;
}
.navbar_key {
  	cursor: pointer;
    margin-right: 20px;
}
.navbar_user {
  	cursor: pointer;
    margin-right: 20px; /* 햄버거 버튼과의 여백 */
}

/* 햄버거 버튼  스타일*/
.navbar_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease;
}

.navbar_burger {
  /*position: fixed;*/
  right: 3rem;
  cursor: pointer;
  color: #fff;
}

.navbar_burger_back {
  position: fixed;
  top: 1.5rem;
  right: 3rem;
  cursor: pointer;
  color: #fff;
}

.navbar_menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: #0e0e0e;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transform: translateX(100%);
  z-index: 999;
  color: #000;
  transition: transform 0.3s ease;
}

.navbar_menu a {
  position: relative;
  color: #ffffff;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-bottom: 3rem;
  text-decoration: none;
}

.navbar_menu.active {
  transform: translateX(0);
}

.navbar_overlay.active {
  opacity: 1;
  pointer-events: auto;
}
/* 햄버거 버튼 css 끝 */