.form-control {
    width: 100%;
    background-color: #fff; /* 흰색 배경 */
    border: none; /* 테두리 없음 */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* 약간의 그림자 추가 */
    padding: 10px; /* 패딩 추가 */
}

.form-label {
    font-size: 16px;
}

.modal-title {
    font-weight: bold;
    color: #fff; /* 흰색 글씨 */
}

.emailform1 {
    width: 30%;
}

.emailform2 {
    margin-right: 10px;
    width: 40%;
}

.emailform3 {
    width: 20%;
    background-color: #0e0e0e; /* 어두운 회색 */
    color: #fff; /* 흰색 글씨 */
    border: none; /* 테두리 없음 */

}

.modal-content {
    background-color: #f5f5f5; /* 밝은 회색 */
    border: none; /* 테두리 없음 */
    border-radius: 8px; /* 모서리 둥글게 */
}

.modal-header {
    background-color: #000; /* 검은색 배경 */
    border: none; /* 테두리 없음 */
}

.btn-primary {
    background-color: #000; /* 검은색 배경 */
    color: #fff; /* 흰색 글씨 */
    display: block; /* 블록 요소로 변경 */
    margin: 20px auto; /* 상하 여백 추가, 좌우 여백 자동으로 중앙 배치 */
    width: 150px; /* 버튼의 너비를 지정 (필요에 따라 조정) */
    text-align: center; /* 텍스트 중앙 정렬 */
    padding: 10px; /* 패딩 추가 */
    border: none; /* 테두리 없음 */
    border-radius: 5px; /* 모서리 둥글게 */
}

.btn-primary:hover {
    background-color: #444; /* 어두운 회색에 가까운 색으로 변경 */
}

.emailform3:hover {
    background-color: #444; /* 어두운 회색에 가까운 색으로 변경 */
}

.genderform {
    display: inline-block; /* 한 줄에 나오도록 설정 */
    width: 6%;
    accent-color: black; /* 체크 색상을 검정으로 변경 */
}
.agree-check input[type="checkbox"] {
    accent-color: black; /* 체크 색상을 검정으로 변경 */
}
